* {
  margin: 0;
  padding: 0;
}
.Header {
  background-color: aquamarine;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 42px 56px;
  min-width: fit-content;
}
.Header__Left {
  flex: 1 1 auto;
}
.Header__Left > a {
  font-size: 36px;
  font-weight: 800;
  font-family: "Heebo", "Poppins";
  line-height: 54px;
  text-decoration: none;
  color: #333333;
}
.Header__Right {
  flex: 1 1 auto;
  min-width: fit-content;
  max-width: 704px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Header__Right > a {
  font-size: 24px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  line-height: 36px;
  text-decoration: none;
  color: #333333;
}
.Hero {
  background-color: violet;
  min-height: fit-content;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 42px;
  padding: 0px 56px;
  padding-top: 106px;
  font-family: "Poppins", sans-serif;
}
.Hero__Text {
  background-color: thistle;
  align-self: flex-start;
  /* margin-left: 220px; */
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: calc((100% - 546px) * (220) / (546-100%));
}
.Hero__Text > p {
  color: #2d9cdb;
  font-weight: 500;
  font-size: 18px;
}
.Hero__Text > h1 {
  color: #333333;
  font-size: 48px;
  font-weight: 500;
  max-width: 544px;
  line-height: 72px;
}
.Hero__Image {
  width: 100%;
  height: fit-content;
}
.Hero__Image > img {
  width: inherit;
  height: auto;
  border-radius: 18px;
}
